---
layout: default
---

<div class="row" id="parent-projects-row">

  {%- include projects_sidebar.html -%}

  <div class="col-lg-8 col-md-8" id="projects-RHS">
    <!-- projects Cards -->
    <div class="card projects-card" id="projects-card">
      <div id="posts-ul">
        <div class="row" id="child-projects-row">
          {% assign sorted_projects = site.projects | sort: "number" %}

          {% for project in sorted_projects %}
          <a href="{{ project.url }}" class="post-btn" id="post-btn-{{ project.number }}">
            <div class="card projects-post text-center" id="card-projects-post-{{ project.number }}">
              {% assign project_thumbnail = project.thumbnail | default: '/assets/img/project-placeholder.svg' %}
              <img src="{{ project_thumbnail }}" class="project-img" alt="{{ project.title }}">
              <p id="post-title-text-{{ project.number }}">{{ project.title }}</p>
              {% if project.summary %}
              <p class="project-summary">{{ project.summary | strip_html | truncatewords: 18 }}</p>
              {% endif %}
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
