---
layout: default
---

<div class="row" id="parent-projects-row">

  {%- include projects_sidebar.html -%}

  <div class="col-lg-8 col-md-8" id="projects-RHS">
    <!-- projects Cards -->
    <div class="card projects-card" id="projects-card">
      <div id="posts-ul">
        <div class="row" id="child-projects-row">
          {% assign sorted_projects = site.projects | sort: "number" %}

          {% for project in sorted_projects %}
          <div class="col-12 col-md-6 project-grid-col">
            <a href="{{ project.url }}" class="post-btn" id="post-btn-{{ project.number }}">
              <div class="card projects-post text-center" id="card-projects-post-{{ project.number }}">
                {% assign project_thumbnail = project.thumbnail | default: '/assets/img/project-placeholder.svg' %}
                <div class="project-image-wrapper">
                  <img src="{{ project_thumbnail }}" class="project-img" alt="{{ project.title }}">
                  <div class="project-overlay-text">
                    <p id="post-title-text-{{ project.number }}">{{ project.title }}</p>
                    {% if project.card_subtitle %}
                    <p class="project-card-subtitle">{{ project.card_subtitle }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
