---
layout: default
---

<div class="card">
  <h1 class="card-title">Publications</h1>
    <ul>
      <li>
        <p><b style="font-size:115%">Publication Title Here</b></br>
        Your Name*, Co-Author Name</br>
            <a href="#">[Link to paper]</a> <i> Conference or Journal Name 2024.</i>
      </li>
    </ul>
 </div>

<div class="card">
 <h1 class="card-title">Talks</h1>
    <ul>
        <li>
       <p><b style="font-size:115%">Talk Title Here</b></br>
         "Brief description of talk"</br>
       Conference or Organization Name.</br>
       <a href="#">Link</a>
     </li>
    </ul>
</div>

<div class="card">
 <h1 class="card-title">Open Source Contributions</h1>
    <ul>
    <li>
      <p><a href="#"><b style="font-size:115%">Project Name</b></a></br>
      Brief description of your open source project.
    </li>
    </ul>
</div>

<div class="card">
 <h1 class="card-title">Teaching and Mentorship</h1>
    <ul>
    <li>
      <p><b style="font-size:115%">Teaching Role</b></br>
      Description of your teaching or mentorship experience.
    </li>
    </ul>
</div>

<div class="card">
  <h1 class="card-title">Miscellaneous</h1>
    <p>
      Add any miscellaneous achievements or publications here.
    </p>
 </div>
